<div class="flex flex-wrap mb-8">
  <div *ngFor="let movie of movies" class="col-3">
    <mat-card class="card">
      <img
        mat-card-image
        [src]="movie.poster_path | poster"
        [alt]="movie.title"
        (click)="onMoviePage(movie)"
      />
      <mat-card-header>
        <mat-card-title class="card-text">{{ movie.title }}</mat-card-title>
        <mat-card-subtitle class="card-text"
          >Título original: {{ movie.original_title }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-row">
          <ngb-rating
            class="col-10"
            style="color: goldenrod"
            [rate]="movie.vote_average"
          ></ngb-rating>
          <p class="col-2 card-text">
            {{ movie.vote_average | number : "1.1-1" }}
          </p>
        </div>
        <p class="card-text">
          <strong>fecha de lanzamiento: </strong>{{ movie.release_date }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
