<mat-toolbar class="flex flex-row align-items-center">
  <h2 class="title mr-3" (click)="onMoviesListPage()">MyMoviesApp.com</h2>
  <input
    class="form-control w-3 h-2rem"
    #searchByTxt
    (keyup.enter)="searchMovie(searchByTxt.value)"
    type="text"
    placeholder="Encuentra tú película favorita"
  />
  <button
    class="ml-2 mr-2"
    mat-stroked-button
    (click)="searchMovie(searchByTxt.value)"
  >
    <mat-icon>search</mat-icon>
    Buscar
  </button>
  <span class="spacer"></span>
  <span class="text-sm">{{ user?.user_name }}</span>
  <button
    class="ml-2 mr-2"
    mat-stroked-button
    color="accent"
    (click)="onLogout()"
  >
    <span class="spacer"></span>
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
