<div class="border border-2 border-info p-3 mb-3">
  <h4 class="col-12">PARENT</h4>
  <p class="text-center">message: {{ childMessage }}</p>
  <div class="d-flex justify-content-center">
    <button (click)="sendMessageService()" class="btn btn-primary me-2">
      Use Service
    </button>
    <button (click)="sendMessageToChild()" class="btn btn-primary me-2">
      Use Input Property
    </button>
    <button (click)="sendMessageSubject()" class="btn btn-primary me-2">
      Use Observable
    </button>
  </div>
  <app-exercise2-child
    (onChildMessage)="onReciveMessage()"
    [parentMessage]="parentMessage"
  ></app-exercise2-child>
</div>
